:root { 
--gray_50_01:#f8f8f8; 
--gray_50_02:#f7fafc; 
--red_500:#ea502e; 
--green_800:#24ac00; 
--black_900_3f:#0000003f; 
--blue_800_01:#3179b6; 
--gray_50:#f7f9fd; 
--teal_200:#82d0c8; 
--green_A700:#17bc1c; 
--black_900:#000000; 
--yellow_700:#feb81c; 
--blue_gray_800:#324c5b; 
--deep_purple_A400:#3c1cff; 
--blue_gray_900:#2d3748; 
--black_900_05:#00000005; 
--yellow_700_d8:#feb81cd8; 
--blue_gray_200:#a0aec0; 
--blue_gray_100:#cccccc; 
--lime_500:#dbd524; 
--blue_gray_400:#718096; 
--blue_800:#0b6aae; 
--indigo_50:#e2e8f0; 
--gray_900:#001f33; 
--blue_gray_500:#677985; 
--gray_300_27:#e0e1e227; 
--black_900_0c:#0000000c; 
--gray_300:#e0e1e2; 
--yellow_700_01:#fdc13e; 
--gray_300_00:#e0e1e200; 
--black_900_77:#00000077; 
--cyan_600:#15b9b9; 
--white_A700:#ffffff; 
}